<% if (page.comment){ %>
	<div id="container"></div>
	<link rel="stylesheet" href="/css/gitment.css">
	<script src="/js/gitment.js"></script>
	<script>
		var gitment = new Gitment({
  		owner: 'SidekickLx',
  		repo: 'sidekicklx.github.io',
  		oauth: {
    			client_id: 'c67cc292f191d3356eac',
    			client_secret: '1f8c667479b547a273c4c4d6f6652fb1b0e2825f',
  			},
		})
		gitment.render('container')
	</script>
<% }%>
